# General
~
.DS_Store
.project
__MACOSX/
*.swp
*.swo
ssl/
tmp/
node-x64/
.env

# Build revision file generated while building a release
REVISION
npm-shrinkwrap.json

# Dependency directories
tsconfig.tsbuildinfo
node_modules/

# Docs
docs/jsdoc/

# Logs
logs/*
logs.log
npm-debug.log
tmux-client-*.log
stacktrace*

# IDE directories
.vscode/
.idea/
Session.vim

# Config files
sftp-config.json
.secrets
tsconfig.repl.json

# Coverage directory used by tools like istanbul
.coverage/

# Local config file useful for development
config.local.json

# Build Directory
dist

# Klayr data
config/default/dev-validators.json
config/default/dev-validators-eu.json
config/default/dev-validators-ap.json
config/default/passphrase.json
config/default/config.json

# Specstory
.specstory/*